@model IEnumerable<MidProj.Models.Animal>;
@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<div class="center">

    <h1 class="headline" style="min-width:auto">The two most highly rated pets for today are:</h1>
</div>
<table class="table-fill" style="min-width: 870px; max-width: 870px;">
    <thead>
        <tr>
            <th class="text-left">Picture</th>
            <th class="text-left">Name</th>
            <th class="text-left" style="min-width :400px;">Description</th>
            <th class="text-left">Number of Comments</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        @foreach (var animal in Model)
        {

            <tr>
                <td><img src="~/Images/@animal.PictureName"></td>
                <td>@animal.Name</td>
                <td>@animal.Description           </td>
                <td>@animal.Comments.Count</td>
            </tr>

        }

    </tbody>
</table>
<div class="center">

</div>
